* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
  border: 1px solid #ffffff1a;
  padding: 10px 30px;
}
ul {
  display: flex;
  align-items: center;
  gap: 23.5px;
}
li {
  list-style: none;
}
a {
  color: #ffffff;
  font-family: HelveticaNeueCyr;
  font-weight: 300;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0%;
  text-decoration: none;
}
.header-image {
  display: flex;
  align-items: center;
  gap: 10px;
}
header img {
  width: 49.71670913696289;
  height: 49.71670913696289;
}
main {
  background-color: #191919;
  padding: 30px;
  position: relative;
}
.hero-image-container img {
  width: 100%;
}
.search-container {
  position: absolute;
  width: 80%;
  height: 169.42138671875px;
  border-radius: 15px;
  background-color: #191919;
  box-shadow: 0px 4px 77px 0px #00000040;
  padding: 30px;
  text-align: center;
  left: 10%;
  top: 330px;
}
.search-container h1 {
  font-family: Rotterburg Stylish FREE;
  font-weight: 400;
  font-size: 31px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #c9ac8c;
  margin-bottom: 20px;
}
.search-container input {
  width: 70%;
  height: 47.01765060424805px;
  border-radius: 15px;
  background-color: #404040;
  color: #c9ac8c;
  padding: 10px;
  outline: none;
  border: none;
}
.search-container button {
  width: 160.21121215820312px;
  height: 47.01765060424805px;
  border-radius: 15px;
  border: none;
  background-color: #c9ac8c;
  font-family: Steinbeck;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3c2710;
  padding-top: 10px;
  margin-left: 10px;
}
.search-container i {
  width: 24px;
  height: 24px;
}
